<p id="notice"><%= notice %></p>

<h1>Stupids</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stupids.each do |stupid| %>
      <tr>
        <td><%= stupid.name %></td>
        <td><%= link_to 'Show', stupid %></td>
        <td><%= link_to 'Edit', edit_stupid_path(stupid) %></td>
        <td><%= link_to 'Destroy', stupid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stupid', new_stupid_path %>
